/*variables*/
@bg-fondo: #eeeeee;
@azul: #689bff;
@letra-azul: #1913a2;
@color-num: #ff0000;
@bg-ros: #fd9a98;

*{
    margin:0;
}
.cajita{
    width: 60px;
    height: 60px;
    margin: 1px 2px;
}

ul{
    padding: 0;
    display: inline-block;

}

li{
    list-style-type: none;
    text-align: center;

}

h2{
    font-size: 18px;
    margin: 0;
    color: @letra-azul;
}

p{
    margin:0
}

main{

    background-color: @bg-fondo;

    .numeros{

        list-style-type: none;
        display: inline-block;
        color: @color-num;
        vertical-align: bottom;

        li {
            .cajita;

        }

    }
    .horizontales{
        display: inline-block;
    }
    .azules{
        .azu{
            background-color: @azul;
            .cajita;
        }
    }

    .ros{
        background-color: @bg-ros;
        .cajita;
    }
}