/*variables*/
* {
  margin: 0;
}
.cajita {
  width: 60px;
  height: 60px;
  margin: 1px 2px;
}
ul {
  padding: 0;
  display: inline-block;
}
li {
  list-style-type: none;
  text-align: center;
}
h2 {
  font-size: 18px;
  margin: 0;
  color: #1913a2;
}
p {
  margin: 0;
}
main {
  background-color: #eeeeee;
}
main .numeros {
  list-style-type: none;
  display: inline-block;
  color: #ff0000;
  vertical-align: bottom;
}
main .numeros li {
  width: 60px;
  height: 60px;
  margin: 1px 2px;
}
main .horizontales {
  display: inline-block;
}
main .azules {
  display: inline-block;
}
main .azu {
  background-color: #689bff;
  width: 60px;
  height: 60px;
  margin: 1px 2px;
}
main .ros {
  background-color: #fd9a98;
  width: 60px;
  height: 60px;
  margin: 1px 2px;
}
main .ama {
  width: 60px;
  height: 60px;
  margin: 1px 2px;
  background-color: #fecb00;
}
main .ver {
  width: 60px;
  height: 60px;
  margin: 1px 2px;
  background-color: #1fca21;
  display: inline-block;
}
main .rojo {
  color: #ff0000;
  display: inline-block;
  width: 65px;
  text-align: center;
  margin-left: 86px;
}
main footer {
  margin-top: 25px;
}
main .verde {
  margin-left: 50px;
}
